<head>
  <script src="angular.js"></script>
  <script src="script.js"></script>
  <link href="css/bootstrap.css" rel="stylesheet">
  <style type="text/css">
  .done-true {
    text-decoration: line-through;
  }
  </style>
</head>

<body ng-app>
  <div ng-controller="AppCtrl">
    <div class="container-fluid span12">
      <div class="span3" ng-controller="TodoListCtrl" ng-repeat="user in users" ng-init="isSelf = $first">
        <h3>{{user}}</h3>
        <ol>
          <li ng-controller="TodoCtrl" ng-repeat="todo in todos">
            <i ng-show="isSelf" class="icon-pencil" ng-click="editTodo()"></i>
            <i ng-show="isSelf" class="icon-remove" ng-click="$parent.removeTodo(todo.Id)"></i>
            <form ng-show="mode == 'edit'" ng-submit="saveTodo()">
              <input type="text" ng-model="todo.Text" ng-keydown="onEditKey()"></input>
            </form>
            <span class="done-{{todo.Done}}" ng-show="mode != 'edit'" ng-click="toggleDone()">{{todo.Text}}</span>
          </li>
        </ol>
        <form ng-submit="addTodo()" ng-show="isSelf">
          <input type="text" ng-model="newTodoTitle" placeholder="New todo">
        </form>
      </div>
    </div>
  </div>
  <div class="span3">
    <a href="/logout">Logout</a>
  </div>
</body>
